# Binaries & build outputs
omp_lhe
src/cuda/a2
*.o
*.so

# Large generated datasets & text outputs
input.txt
knn.txt
knn_n.txt
knn_cuda.txt
kmeans.txt
kmeans_n.txt
approx.knn.txt
approx_knn_n.txt
*.out

# Editor / OS files
.vscode/
.DS_Store

# Python cache
__pycache__/
*.pyc
